<footer>
  <div class="container-fluid">
    <p>
      <%= current_year %> |
      <%= t('.author') %> |
      <%= github_url('Vicxwild', 'test-guru') %> |
      <%= t('.application_description') %> |
      <%= link_to t('.course'), 'https://thinknetica.com/', target: '_blank' %>
    </p>
  </div>
</footer>
