<h1>Question</h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b>Answer</b>
  <%= @answer.body %>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', test_question_path(current_test, current_question) %> |
<%= link_to 'Edit', edit_test_question_answer_path(current_test, current_question, @answer) %>
