<h1><%= t('.header') %>: "<%= @answer.question.body %>"</h1>

<p>
  <b><%= t('.answer') %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct') %>:</b>
  <%= @answer.correct %>
</p>

<%= link_to t('common.back'), admin_test_question_path(current_test, current_question) %> |
<%= link_to t('common.edit'), edit_admin_test_question_answer_path(current_test, current_question, @answer) %>
