<h1><%= question_header(@question) %></h1>

<%= form_with model: [:admin, current_test, @question] do |form| %>
  <%= render 'shared/errors', resourse: @question %>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body, required: true, placeholder: "Write a question" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br><%= link_to t('common.back'), admin_test_path(current_test) %>
