<h1><%= @question.test.title %> <%= t('.header') %></h1>

<p><%= render plain: @question.body %></p>

<h2><%= t('.answers') %></h2>

<%= link_to t('.add_answers'), new_admin_test_question_answer_path(current_test, @question) %>

<ol>
  <%= render @question.answers %>
</ol><br>

<%= link_to t('common.back'), admin_test_path(current_test) %> |
<%= link_to t('common.edit'), edit_admin_test_question_path(current_test, @question) %> |
<%= link_to t('common.delete'),
            admin_test_question_path(current_test, @question),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
