<%= form_with model: [:admin, @test] do |form| %>
  <%= render 'shared/errors', resourse: @test %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, required: true, placeholder: "Write a title" %>
  </div><br>

  <div>
    <%= form.label :level %>
    <%= form.number_field :level, required: true, placeholder: "Write a level" %>
  </div><br>

  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div><br>

  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>

<%= link_to t('common.back'), admin_tests_path %>
