<tr>
  <td class="align-middle">
    <%= test.title %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
    </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.category.title %></td>
  <td class="align-middle"><%= test.creator.first_name %></td>
  <td class="align-middle"><%= test.questions.size %></td>
  <td class="align-middle"><%= link_to t('common.show'), admin_test_path(test) %></td>
  <td class="align-middle"><%= link_to t('common.edit'), edit_admin_test_path(test) %></td>
  <td class="align-middle">
    <%= link_to t('common.delete'),
                admin_test_path(test),
                method: :delete %></td>
  </td>
</tr>
