<div class="container">

  <h1 class="mt-2 mb-2 text-center"><%= t('.header') %></h1>

  <p><%= link_to icon('plus-lg', t('.create_new_test')), new_admin_test_path, class: "btn btn-outline-primary" %></p>

  <p><%= render 'shared/errors', resource: @test %></p>

  <div class="table-responsive">
    <table class="table table-bordered border-info">
      <thead class="table-info">
        <tr>
          <th><%= t('.title') %></th>
          <th><%= t('common.level') %></th>
          <th><%= t('.category') %></th>
          <th><%= t('.creator') %></th>
          <th><%= t('.questions_count') %></th>
          <th colspan='4'><%= t('.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <%= render @tests %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to icon('github', t('.show_gists')), admin_gists_path, class: "btn btn-outline-primary mt-2 mb-3" %>
  </div>
</div>
