<div>
  <h3 class="mt-2 mb-2"><%= t('.test_title') %>: <b><%= render plain: @test.title %></b></h3>
  <p><%= t('common.level') %>: <b><%= render plain: @test.questions.count %></b></p>

  <p><%= link_to icon('plus-lg',t('.add_question')), new_admin_test_question_path(@test), class: "btn btn-outline-primary" %></p>

  <div class="table-responsive">
    <table class="table table-bordered table-striped border-info">
      <thead class="table-info">
        <tr>
          <th><%= t('.questions') %></th>
          <th colspan='3'><%= t('common.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <%= render @test.questions, current_test: @test %>
      </tbody>
    </table>
  </div>

  <%= link_to t('common.back'), admin_tests_path, class: "btn btn-outline-primary mb-2" %>
</div>
