<div class="container">
  <h1 class="mt-2 mb-2 text-center"><%= t('.header') %></h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('common.level') %></th>
        <th><%= t('.category') %></th>
        <th><%= t('.creator') %></th>
        <th><%= t('.questions_count') %></th>
        <th><%= t('.action') %></th>
      </tr>
    </thead>
    <%= render @tests %>
  </table>
</div>
