<h1>Create new test</h1>

<%= form_with model: @test  do |form| %>
  <%= render 'shared/errors', resourse: @test %>

  <div>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title, required: true, placeholder: "Write a title" %>
  </div>

  <div>
    <%= form.label :level %>
    <br>
    <%= form.number_field :body, required: true, placeholder: "Write a level" %>
  </div>

  <div>
    <%= form.label :category_id %>
    <br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <div>
    <%= form.label :creator_id %>
    <br>
    <%= form.collection_select :creator_id, User.all, :id, :name, prompt: true %>
  </div>
  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>

<br><%= link_to 'Back', tests_path %>
